<?xml version='1.0' encoding='utf-8'?>
<widget id="org.lafayettecc.lcconline2" version="0.1.0">
  <name>LCC Online2</name>
  <description>
    Testing Tabris.js
  </description>
  <author email="jeffmikels@gmail.com" href="https://jeffmikels.org">
    Jeff Mikels
  </author>
  <content src="package.json" />
</widget>
